.shop {
    padding-left: 50px;
}

.headerBar {
    background: #e7e7e4;
    margin-top: 50px;
}

.createBtn {
    color: #696969;
    float: right;
    margin-right: 50px;
    border: none
}

.icons {
    float: 'right';
    font-size: '20px' ;
}

.row 
{
    position: absolute;
    left: 60px;
    width: 90%;
    padding-top: 50px;
}

.title {
    padding-left: 20px;
    padding-top: 20px;
}

.btnEdit {
    border:none; 
    color: #1DC7EA;
}
