.row 
{
    position: absolute;
    left: 30px;
    width: 95%;
}

.title {
    padding-left: 20px;
    padding-top: 20px;
}

.btnEdit {
    border:none; 
    color: #1DC7EA;
}

.createBtn {
    color: #696969;
    float: right;
    margin-right: 50px;
}